.header {
    display: flex;
    grid-area: h;
    background-color: #252527;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
}

.header img {
    width: 100px;
}

.loginBlock {
    float: right;
}

.loginBlock a {
    color: white;
}
