.nav {
    grid-area: n;
    background-color: #252527;
    padding: 20px;
    min-height: 100vh;
    border: 5px solid #1f1f20;

}

.item a {
    color: #777;
    text-decoration: none;
    font-size: 25px;
}

.item a.active {
    color: white;
}