
.app-wrapper {
    margin: 0 auto;

    display: grid;
    grid-template-areas: "h h" "n c";

    grid-auto-rows: 80px 1fr;
    grid-template-columns: 2fr 10fr;

    font-family: Poppins,sans-serif;
    color: #777;
}

.app-wrapper-content{
    min-height: 100vh;
    grid-area: c;
    background-color: #1f1f20;
}


